<!-- ovveride default meta -->
<%# content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<h1>Fame Festival website</h1>

<h2>Testing de la font</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga in quis consectetur! Debitis ut accusantium, magnam tempora numquam dolor odit velit. Reiciendis a dolorum animi natus quia iste sit ipsum.
Repudiandae deleniti laboriosam repellendus vel? Voluptatum reprehenderit eos aspernatur soluta! Voluptatibus distinctio labore obcaecati placeat. Doloribus, explicabo sed. Quae cupiditate dolores, porro at voluptate atque qui necessitatibus provident soluta facere.
A, veniam alias nemo nisi eius mollitia possimus distinctio. Ex vitae voluptatum similique excepturi voluptates error deserunt sapiente dolor sunt velit corrupti quis magni quia voluptatem, placeat commodi quo facere.
Consectetur enim nulla sapiente delectus quo nostrum molestiae nemo, placeat quis dicta reprehenderit excepturi nihil sunt commodi quas ullam asperiores maxime vero vitae necessitatibus! Deserunt provident suscipit perspiciatis exercitationem laboriosam!</p>
