<section id="landing">
  <div class="landing-wrapper container">
    <%= image_tag 'https://res.cloudinary.com/dhh0i62l3/image/upload/v1598287964/logo_full_text.png', class: "intro-logo" %>
    <h1 id="waiting-title">Website under construction</h1>
    <div class="waiting-text">
      <p>Follow us on our Social</p>
        <%# <a href="https://www.instagram.com/famefestival_barbados/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/famefest" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook-square"></i></a> %>
        <div class="icons">
          <a href="https://www.facebook.com/famefest" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
          <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-facebook-f"></span>
          </div>
          <div class="text">Facebook</div>
        </a>
        <a href="https://www.instagram.com/famefestival_barbados/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
          <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-instagram"></span>
          </div>
          <div class="text">Instagram</div>
        </a>
      </div>
    </div>
  </div>
</section>
